<div id="login">
	<h1>Login with</h1>
	<!-- OAuth providers start here -->	
	<div id="oauthproviders">
		<ul>
			<!-- facebook -->
			<li>
				<a href="/auth/facebook"><img alt="facebook" src="/assets/facebook.jpg" width=150 height=80></img></a>
			</li>
			<!-- github -->
			<li>
				<a href="/auth/github"><img alt="github" src="/assets/github.jpg" width=150 height=80></img></a>
			</li>				
			<!-- google -->
			<li>
				<a href="/auth/google"><img alt="google" src="/assets/google.jpg" width=150 height=80></img></a>
			</li>
			<!-- linkedin -->
			<li>
				<a href="/auth/linked_in"><img alt="linkedin" src="/assets/linkedin.jpg" width=200 height=80></img></a>
			</li>
			<!-- salesforce -->
			<li>
				<a href="/auth/salesforce"><img alt="salesforce" src="/assets/salesforce.jpg" width=200 height=120></img></a>
			</li>					
			<!-- twitter -->	
			<li>
				<a href="/auth/twitter"><img alt="twitter" src="/assets/twitter.jpg" width=150 height=150></img></a>
			</li>			
		</ul>
	</div>
	<!-- OAuth providers start here -->
</div>
