// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
	width: 500px;
	margin: auto;
	text-align: center;
}

#oauthproviders ul {
	list-style-type: none;
}

#oauthproviders ul li {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

#oauthproviders img {
	border: none;
}

h1 {
	font: 40px Arial;
	font-weight: bold;
}
